body {
    
    padding: 0% 5% 5% 5%;
}

.picCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

img {
    margin: 0% 25px 25px 0%;
    height: 225px;
    border-radius: 10px;
}

img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 3px #00000042;
}

.search {
    border: 1px solid black;
    border-radius: 25px;
    padding: 1%;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.pageIndex {
    padding: 0 5% 0 5%;
    display: inline-block;
    font-size: 16pt;
    transform: translate(0px, -10px);
    
}